
.img1, .img1 img, .more_btn { behavior:url(js/PIE.htc); position:relative;}
#back-top { behavior:url(js/PIE.htc);}

a.magnifier2:hover .zoom{
	display: block;
}
a.magnifier2 .zoom{
	display: none;
}
body{
	min-width: 1000px;
}