/*css*/
@import "../css/reset.css";
@import "../css/skeleton.css";
@import "../css/superfish.css";
@import "../css/touchTouch.css";
@import "../css/form.css";
@import "../css/accordion.css";

@import url(//fonts.googleapis.com/css?family=Roboto:300,100,400);


html, body {}

a[href^="tel:"] {
	color: inherit;
	text-decoration:none;
}
* {
	-webkit-text-size-adjust: none;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.fleft {float:left;}
.fright {float:right;}
.clear {clear:both; line-height:0; font-size:0; width:100%;}
.wrapper, .wrapper-extra, .extra-wrap{
	position: relative;
	width: 100%;
	overflow:hidden; 
}
.wrapper-after:after{
	clear:both;
	content:".";
	display:block;
	height:0;
	visibility:hidden;
}
.dis-block{display: block;}
.dis-inblock{display: inline-block;}

.txt_left{text-align: left;}
.txt_right{text-align: right;}
.txt_cntr{text-align: center;}
.txt_ital{font-style: italic;}
.txt_line_through{text-decoration: line-through;}


.marg-left-0{margin-left:0 !important;}	
.marg-right-0{margin-right:0 !important;}
.marg-left-right-0{margin-left:0 !important; margin-right:0 !important;}
.last-mbot{margin-bottom:0 !important;}	
.last-pbot{padding-bottom: 0 !important;}
.last-mpbot{margin-bottom:0 !important;padding-bottom:0 !important;}

.marRight1{margin-right: 33px;}
.marRight2{margin-right: 55px;}
.marBot1{margin-bottom: 77px;}
.marBot2{margin-bottom: 19px;}
.marBot3{margin-bottom: 40px;}
.marBot4{margin-bottom: 24px;}
.marBot5{margin-bottom: 13px;}
.marBot6{margin-bottom: 60px;}
.marBot7{margin-bottom: 12px;}

.hline2{
	padding-bottom: 11px;
	border-bottom: 1px solid #dfdede;
	margin-bottom: 40px;
}

.box, .box2{overflow: hidden;}
.bold{font-weight: bold;}

.color1{color: #47d4f9;}
.color2{color: #000000;}
.color3{color: #fafafa;}

/* Global properties ======================================================== */
html, body { padding:0; margin:0; height:100%;}

body {
	font:300 12px/18px "Roboto", Arial, Helvetica, sans-serif ;
	color:#6c7579;
	background: #51565a;
	min-width:300px;
}
.fs_12{font-size: 12px;}
#back-top {
  position: fixed;
  left: 51%;
  margin-left: 500px;
  bottom: 40px;
  z-index: 1000;
  display: none;
  width: 34px;
  height: 34px;
  background: #51565a url("../images/up-arrow.png") center center no-repeat;
  border-radius: 300px;
  cursor: pointer;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
#back-top:hover {
  background: #000 url("../images/up-arrow.png") center center no-repeat;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
.main{
	width:100%;
	height: auto;
	padding:0 0 0 0; 
	/*background: #fafafa;*/
}
.div-content{
	width:100%;
	margin:0 auto;
	padding-bottom:0;
	background: #fff;
	padding-top: 0px;
	
}
/***********************************************************************/
/*===============================>H-logo-properties=========================*/
h1{
	position: relative;
	display: inline-block;
	float:left;
	margin:0;
}
h1 img{max-width: inherit;}


.pic_section h2{
	margin: 0;
	font:100 86px/90px 'Roboto', Arial, sans-serif;
	color:#ed1c24; 
	margin-top: 75px;
	margin-bottom: 0px;
	letter-spacing: -2px;
}
.pic_section h3{
	margin: 0;
	font:100 30px/30px 'Roboto', Arial, sans-serif;
	color:#ed1c24; 
	margin-left: 18px;
	margin-bottom: 31px;
}
.splash_title1{
	margin: 0;
	font:300 30px/36px 'Roboto', Arial, sans-serif;
	color:#343b41; 
	margin-bottom: 3px;
	letter-spacing: -1px;
}
.splash_title2{
	margin: 0;
	font:300 21px/24px 'Roboto', Arial, sans-serif;
	color:#6d7176; 
	margin-bottom: 49px;
	letter-spacing: -1px;
}
h2{
	margin: 0;
	font:300 30px/36px 'Roboto', Arial, sans-serif;
	color:#343b41; 
	margin-bottom: 31px;
	letter-spacing: -1px;
}
h2.v2{margin-bottom: 21px;}
h2.h2_footer{
	text-transform: uppercase;
	color: #fff;
	font:300 29px/36px 'Roboto', Arial, sans-serif;
	letter-spacing: 1px;
	margin-bottom: 29px;
}
h2.v3{margin-bottom: 39px;}
h2.v4{margin-top: 71px;}
h2.v5{margin-bottom: 0px;}
h3{
	margin: 0;
	font:300 21px/30px 'Roboto', Arial, sans-serif;
	color:#343b41; 
	margin-bottom: 2px;
	letter-spacing: 0px;
}
h3.v2{
	font:300 19px/24px 'Roboto', Arial, sans-serif;
	margin-bottom: 18px;
	letter-spacing: 0px;
}
h3.v3{margin-bottom: 13px;}
h3.v4{
	font:300 21px/21px 'Roboto', Arial, sans-serif;
	margin-bottom: 17px;
}
h3.v5{
	margin-top: 10px;
}
.txt1{
	margin: 0;
	font:300 14px/24px 'Roboto', Arial, sans-serif;
	color:#6c7579; 
	margin-bottom: 10px;
}
.comments_txt{
	margin: 0;
	font:12px/16px 'Roboto', Arial, sans-serif;
	color:#00afe5;
	margin-bottom: 13px;
}
.say_txt1{
	margin: 0;
	font:16px/21px 'Roboto', Arial, sans-serif;
	color:#3c3c3c; 
	margin-bottom: 15px;
}
.say_txt2{
	margin: 0;
	font:14px/21px 'Roboto', Arial, sans-serif;
	color:#6b6b6b; 
	margin-bottom: 13px;
}
.say_txt3{
	margin: 0;
	font:14px/20px 'Roboto', Arial, sans-serif;
	color:#9d9d9d; 
	float: right;
	margin-bottom: 21px;
	margin-right: 43px;
}
h4{
	font:12px/16px 'Roboto', Arial, sans-serif;
	color:#34495e; 
	text-transform:uppercase;
	margin-bottom: 5px;
}
h6{
	font:16px/16px 'Roboto', Arial, sans-serif;
	color:#547c0c; 
	text-transform:uppercase;
	margin-bottom: 20px;
}	
.gray_bg{
	width: 100%;
	position: relative;
	background: #f0f0f0;
	border: none;
	margin-top: -1px;
	margin-bottom: 81px;
	padding: 73px 0 70px;
}
.gray_bg.v2{
	display: inline-block;
	margin-top: 11px;
	margin-bottom: 81px;
	padding: 81px 0 70px;
}
.gray_bg.mar_bot0{margin-bottom: 0px;padding-bottom: 88px;}
.date_section{
	font:300 21px/16px 'Roboto', Arial, sans-serif;
	color:#343b41; 
	display: block;
	float: left;
	width: 74px;
	height: 77px;
	padding-top: 20px;
	background: #f0f0f0;
	text-align: center;
	margin-right: 18px;
	box-sizing: border-box;
	-moz-box-sizing: border-box; /*Firefox 1-3*/
	-webkit-box-sizing: border-box; /* Safari */

	-webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
.comment_link{
	margin-right: 21px;
	margin-top: 39px;
}
.main_date_section:hover .date_section{background: #e74c3c;}

p{margin-bottom: 16px;}
img{max-width:100%; height:auto; margin-bottom: 0px;}
.splash_banner1:hover .img1{border: 3px solid #ed1c24;}
.img1{
	display: inline-block;
	margin-bottom: 26px;
	border-radius: 300px;
	-webkit-border-radius: 300px !important;
	-moz-border-radius: 300px;
	border: 3px solid #03b0e5;
	-webkit-transition:all 0.6s ease;
	-moz-transition:all 0.6s ease;
	-o-transition:all 0.6s ease;
	transition:all 0.6s ease;
	overflow: hidden;
}
.img1 img{
	border-radius: 300px;
	-webkit-border-radius: 300px !important;
	-moz-border-radius: 300px;
}
.img2{
	float: left;
	margin-top: 7px;
	margin-right: 20px;
	margin-bottom: 29px;

	border: 3px solid #e4e4e4;
	box-sizing: border-box;
	-moz-box-sizing: border-box; /*Firefox 1-3*/
	-webkit-box-sizing: border-box; /* Safari */
}
.img3{
	margin-bottom: 24px;
	border: 3px solid #e4e4e4;
	box-sizing: border-box;
	-moz-box-sizing: border-box; /*Firefox 1-3*/
	-webkit-box-sizing: border-box; /* Safari */
}
.img3+h3{margin-bottom: 14px;}
a {
	text-decoration:none; 
	cursor:pointer; 
	color: #343b41;
}
a.link2{color: #727272;}
a.link3{color: #00afe5;}
a.link3:hover{color: #ed1c24;}
a:hover, .top_section a:hover {
	text-decoration:none;
	color: #00b1f3;
}
a{
	-webkit-transition:all 0.3s ease;
	-moz-transition:all 0.3s ease;
	-o-transition:all 0.3s ease;
	transition:all 0.3s ease;
}

.pic_section{
	width: 100%;
	min-height: 502px;
	background: url(../images/header_bg.jpg) center 0 repeat-x #ebf8fe;
	border-bottom: 1px solid #fff;
}


.top_section{
	width: 100%;
	min-height: 43px;
	background: url(../images/header_bg.png) 0 100% repeat-x #5a5f64;
}
.top_section br{display: none;}
.top_section p{
	margin-top: 10px;
	float: right;
	color: #fff;
	font:300 15px/20px 'Roboto', Arial, sans-serif;	
	margin-bottom: 10px;
}
.top_section p a{
	color: #fff;
	font:300 15px/20px 'Roboto', Arial, sans-serif;	
}
.top_section .phone_icon{
	position: relative;
	display: inline-block;
	width: 20px;
	height: 16px;
	margin: 3px 0px 0 14px;
	background: url(../images/phone_icon.png) 0 0 no-repeat;
}
.top_section .mail_icon{
	position: relative;
	display: inline-block;
	width: 20px;
	height: 16px;
	margin: 3px 7px 0 10px;
	background: url(../images/mail_icon.png) 0 0 no-repeat;
}
.top_section .vline1{
	position: relative;
	display: inline-block;
	width: 1px;
	height: 18px;
	margin: 1px 0px 0 19px;
	background: #909395;
}

.vline1{
	position: relative;
	display: inline-block;
	width: 1px;
	height: 21px;
	margin: -1px 7px 0 11px;
	background: #deded5;
}
/************Header************/
header{
	position: relative;
	padding-bottom: 0;
	min-height: 75px;
	z-index: 1000;
	padding-top: 25px;
}
header.content_header{
	margin-bottom: 78px;
	border-bottom: 2px solid #f1f1f1;
}
.bot_line{
	width: 100%;
	height: 1px;
	display: inline-block;
	background: #f2f2f2;
	margin-top: 2px;	
	margin-bottom: 42px;	
}
	
/************Content***********/
/* ============================= lists ====================== */
.listWithMarker {
  margin: 0;
  padding-top: 0;
  margin-left: 23px;
  margin-bottom: 22px;
}
.listWithMarker li {
  display: block;
  /*padding-left: 23px;*/
  margin-bottom: 3px;
  /*background: url(../images/list_marker.png) 0 2px no-repeat;*/
}
.icon-check {
  position: relative;
  font: normal normal 14px 'FontAwesome';
  line-height: 1em;
  color: #00afe5;
  margin-right: 7px;
  top: -1px;
}
.listWithMarker li a {
  color: #434446;
  font:300 14px/16px "Roboto", Arial, sans-serif;
  text-decoration: none;
}
.listWithMarker li a:hover {
  color: #ed1c24;
}


.listWithMarker2 {
  margin: 0;
  padding-top: 5px;
  margin-left: -4px;
  margin-bottom: 22px;
}
.listWithMarker2 li {
  display: block;
  margin-bottom: 3px;
  padding-bottom: 5px;
}
.listWithMarker2 li a {
  color: #6c7579;
  font:300 12px/14px "Roboto", Arial, sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
}
.listWithMarker2 li a:hover {
  color: #ed1c24;
}
.icon-plus-sign {
  position: relative;
  font: normal normal 20px 'FontAwesome';
  line-height: 1em;
  color: #6c7579;
  margin-left: 0px;
  margin-right: 12px;
  top: -3px;
  float: left;
}


/* ============================= end lists ====================== */
.comments_btn{
	padding-left: 0px;
	color: #6b6b6b;
}
.icon-comment {
  position: relative;
  font: normal normal 14px 'FontAwesome';
  line-height: 1em;
  color: #cdcdcd;
  margin-right: 7px;
  top: -1px;
}
.icon-comment.v2 {
  font: normal normal 61px 'FontAwesome';
  color: #dfdede;
  margin-left: 7px;
  margin-right: 0;
  top: -21px;
}
.icon-circle-arrow-right {
  position: relative;
  font: normal normal 21px 'FontAwesome';
  line-height: 1em;
  margin-right: 7px;
  top: -1px;
}

.more_btn {
	display: inline-block;
	text-decoration:none;
	color:#fff;
	text-align: center;
	padding:14px 28px 18px;
	text-transform: uppercase;
	font:19px/21px "Roboto", Arial, sans-serif;
	background: #e74c3c; /* for old browsers */
	background: url(../images/more_bg_1.png) repeat;
	/*min-height: 53px;*/
    margin-left: 22px;
    margin-bottom: 18px;
    border-radius: 5px; 
}
.more_btn:hover, .more_btn .active a{
	color:#000;
    text-decoration:none;
}

.more_btn2 {
	display: inline-block;
	text-decoration:none;
	text-transform: uppercase;
	width: 20px;
	height: 20px;
    margin-top: 1px;
    margin-left: 3px;
    color: #ed1c24;
}
.more_btn2:hover {
	color: #00afe5;
}

.more_btn3 {
	display: inline-block;
	text-decoration:none;
	font:12px/21px "Roboto", Arial, sans-serif;
	color: #ed1c24;
	padding-right: 0px;
}
.more_btn3 strong{margin-left: 5px; margin-right: 0;}
.more_btn3:hover{
	color: #3498db;
}
figure{display: block;}
figure.img_inner {
	display: block;
	height: auto;
	line-height: 0;
	padding-bottom: 0px;
	overflow: hidden;
	padding-top: 4px;
	margin-bottom: 31px;
}
figure iframe {
	width: 92%;
	height: 272px;
}
address{
	font-style: normal;
	display: block;
	margin-bottom: 20px;
}
address dl dt{
	/*color: #47d4f9;*/
}
address dd span{
	position: relative;
	display: inline-block;
	width: 76px;
}
address a, .link1{
	color: #6c7579;
	text-decoration: none;
}

/*------start list_carousel ------- */
.list_carousel {
  padding: 5px 0 0px;
  position: relative;
  margin-top: -12px;
}
.list_carousel ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: block;
  overflow: hidden;
  cursor: default;
}
.list_carousel li {
  padding: 0;
  padding-top: 14px;
  width: 300px !important;
  margin-right:20px !important;
  float: left;
  color: #fff;
}
.list_carousel.responsive {
  width: auto;
}
.prev,
.next {
  position: absolute;
  top: -49px;
  display: block;
  width: 18px;
  height: 30px;
}
.next {
  background: url(../images/next.png) no-repeat 0 0;
  right: 0px;
}
.prev {
  background: url(../images/prev.png) no-repeat 0 0;
  right: 24px;
}
.prev:hover,
.next:hover {
  background-position: 0 -30px;
}
.img_title1{
	position: relative;
	width: 100%;
	background: #00afe5;
	box-sizing: border-box;
	-moz-box-sizing: border-box; /*Firefox 1-3*/
	-webkit-box-sizing: border-box; /* Safari */
	padding: 22px 10px 20px 30px;
}
.img_title1:before{
	position: absolute;
	display: inline-block;
	content: '';
	width: 18px;
	height: 19px;
	left: 26px;
	top: -19px;
	background: url(../images/corner1.png) no-repeat 0 0;
}

.img_title1 a{color: #fff;}
.img_title1 a:hover{color: #8ae3ff;}
.img_title1 p, .img_title1 a{
	font:bold 18px/22px 'Roboto', Arial, sans-serif;
	color:#fff; 
	margin-bottom: 0px;
	letter-spacing: -1px;
}
.img_title1 p+p{
	font:14px/20px 'Roboto', Arial, sans-serif;
	color:#fff; 
	margin-bottom: 0px;
	letter-spacing: 0px;
}

/*------end list_carousel ------- */

/*********************************start magnifier2*************************************/
.magnifier2 {
    position:relative;
    /*display:block;*/
    display: inline-block;
}
.magnifier2 img{
	border: 2px solid #fff;
	-moz-box-shadow: 0 0 10px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,0.2);
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
.zoom{
	position: absolute;
	width: 100%;
	height: 100%;
	border: 18px solid #2b91ab;
	top: 0;
	left: 0; 
	-webkit-transition: all 0.6s ease;
  	-moz-transition: all 0.6s ease;
  	-o-transition: all 0.6s ease;
  	transition: all 0.6s ease;

  	box-sizing: border-box;
	-moz-box-sizing: border-box; /*Firefox 1-3*/
	-webkit-box-sizing: border-box; /* Safari */
}
a.magnifier2:hover .zoom{
	opacity: 1
}
a.magnifier2 .zoom{
	opacity: 0;
}
/*********************************end magnifier2*************************************/
/************Footer************/
footer{ 
	width: 100%;
	font-family: Arial, Helvetica, sans-serif; 
	background: #273443;
	display: block;
	text-align: center;
}
.main-footer{
	padding-top: 79px; 
	padding-bottom: 28px;
	background: #5a5f64;
}
.main-footer p{
	margin:0;
	font:300 18px/25px "Roboto", Arial, sans-serif;
	color:#fff;
}

.footer_priv{
	padding: 47px 0 30px;
	background: #51565a;
	color: #fff;
}
.footer_priv p{font:300 14px/20px "Roboto", Arial, sans-serif;}
.footer_priv a{color: #fff;}
.footer_priv a:hover{color: #00afe5;}

/*----------- start social icons ----------------*/
.top_section strong {
  position: relative;
  left: 0;
  top: 1px;
  font-weight: normal;
  margin: 0 3px 0 11px;
  font-size: 17px;
  line-height: 1em;
  font-family: 'FontAwesome';
  color: #fff;
}


.soc_icons {
  position: relative;
  display: inline-block;
  white-space: nowrap;
  margin-top: 54px;
  margin-bottom: 28px;
  margin-left: 36px;
}
.soc_icons > li {
  position: relative;
  display: inline-block;
  margin-right:10px;
}
.soc_icons > li > a {
  position: relative;
  font: normal normal 47px 'FontAwesome';
  line-height: 1em;
  color: #fff;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
.soc_icons > li > a:hover {
  color: #00afe5;
  text-decoration: none;
}
/*----------- end social icons ----------------*/

.priv_block{float: left;}
.terms_block{float: right;}

/*==================================RESPONSIVE LAYOUTS===============================================*/
@media only screen and (max-width: 1039px) {

	.div-content{width:100%;}

	.camera_wrap {min-height: 200px;}

}

@media only screen and (max-width: 995px) {
	.address figure iframe {
		width: 100%;
		max-width:100%;
	}

	address dd span{width: 74px;}
	.hide{display: none;}
	.hide2{display: none;}

	h3{font:300 18px/22px 'Roboto', Arial, sans-serif;}

	.list_carousel li {
	  width: 240px !important;
	  margin-right:20px !important;
	}



}
@media only screen and (max-width: 767px) {

	img{width: 100%;}
	img.no_resize, h1 img{width: auto;}
	.box{overflow: visible;}

	/*img:not(.no_resize) {width: 100%;}*/

	.caption{display: none;}

	.mobile_bottom_mar{margin-bottom: 30px !important;}
	address dd span{width: 94px;}

	.hide2{display: inline;}


	.top_section .mail_icon{
		margin: 3px 2px 0 0px;
	}
	.pic_section h2{font:100 56px/60px 'Roboto', Arial, sans-serif; margin-left: 10px;}

	.list_carousel li {
	  width: 200px !important;
	  margin-right:20px !important;
	}

	.soc_icons > li{margin-right: 4px;}
	.soc_icons > li > a {font: normal normal 32px 'FontAwesome';}

	.soc_icons {margin-left: 0;}
	figure iframe {width: 100%;}

}


@media only screen and (max-width: 479px) {
	.grid_12{margin: 0 4px !important;}
	header .grid_12{margin: 0 5px !important;}
	.alpha, .omega{margin: 0 !important;}
	/*.hide2{display: none;}*/
	.mobile_bottom_mar{margin-bottom: 30px !important;}
	.list_carousel li {
	  width: 290px !important;
	  margin-right:10px !important;
	}

	.comment_link{
		float: right;
		margin-right: 0px;
		margin-top: -3px;
	}

	.top_section br{display: block;}
	.icon-phone{margin-left: 0px !important;}
	.top_section p{font:300 12px/20px 'Roboto', Arial, sans-serif;	float: none;}
	.top_section p a{font:300 12px/20px 'Roboto', Arial, sans-serif;}
	.footer_priv p{font:300 13px/20px "Roboto", Arial, sans-serif;}

	.pic_section{background:#ebf8fe;}
	h3{font:300 16px/18px 'Roboto', Arial, sans-serif;}
}
@media only screen and (max-width: 320px) {

}